html {
    font-family: "Arimo", cursive;
}

html, body {
  	margin: 0;
  	padding: 0;
}

h1 {
	font-size: 50px;
	text-align: center;
	width: auto;
	margin: 0;
}

h2 {
	text-align: center;
	width: auto;
	margin: 0;
	padding-bottom: 25px;
	font-size: 30px;
}

h3 {
	margin: 10px;
	display: inline;
	text-align: center;
}

p {
	display: inline;
}

th {
	margin: 10px;
	font-size: 30px;
}

table {
	width: 100%
}

.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

@media only screen and (max-width: 500px) {
	h1 {
    	font-size: 65px;
	}

	.TopBar a {
		font-size: 60px;
	}
}

hr {
	background-color: black;
	height: 2px;
	border: 0;
}

ul {
	background-color: white;
	height: auto;
	margin: 0;
}

nav ul {
	text-align: center;
	width: auto;
	font-size: 1.2em;
}

nav ul li {
	display: inline-block;
	margin: 30px;
	width: auto;
}

nav ul li a {
	color: #000;
	text-decoration: none;
}

nav ul li a:hover {
	color: #ababab;
}

img {
	border: 0;
}
