html {
    font-family: "Arimo", cursive;
}

body {
	height: 10000px;
}

html, body {
  	margin: 0;
  	padding: 0;
}

h1 {
	font-size: 50px;
	text-align: center;
	width: auto;
	margin: 0;
}

h2 {
	text-align: center;
	width: auto;
	margin: 0;
}

@media only screen and (max-width: 500px) {
	h1 {
    	font-size: 65px;
	}

	.TopBar a {
		font-size: 60px;
	}
}

hr {
	background-color: black;
	height: 2px;
	border: 0;
}

ul {
	background-color: white;
	height: auto;
	margin: 0;
}

nav ul {
	text-align: center;
	width: auto;
	font-size: 1.2em;
}

nav ul li {
	display: inline-block;
	margin: 30px;
	width: auto;
}

nav ul li a {
	color: #000;
	text-decoration: none;
}

nav ul li a:hover {
	color: #ababab;
}

img {
	border: 0;
}
